html,body{
    height: 100%;
    width: 100%;
}

#feuille{
    height: 100%;
    width: 100%;
}

#reponse{
    height: 80px;
    overflow-y: scroll;
    padding: 2px;
    margin-bottom: 0;
}

#reponse::-webkit-scrollbar{
    width:0;
    display: none;
}
